.place {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  padding: 40px;
}

.button {
  background: rgb(195, 195, 197);
  border-radius: 2px;
  width: 150px;
  transform: cubic-bezier(0.075, 0.82, 0.165, 1);

  &&:hover {
    background: rgb(51, 157, 228);
    color: white;
  }
}